@import '../../styles/propertySets.css';

.title {
  @apply --marketplaceH1FontStyles;

  margin-top: 0;
  margin-bottom: 0;
}

.listingCards {
  padding: 20px 0;

  @media (--viewportMedium) {
    position: relative;
    display: flex;
    width: 100%;
  }
}
.listingCardsInner {
  @media (--viewportMedium) {
    padding: 1rem 0;
    overflow-x: auto;
    overflow-y: hidden;
    flex-basis: 100%;
    width: auto;
    position: relative;
    z-index: 1;
  }
}
.rowList {
  flex-wrap: nowrap;
  margin-bottom: 0;
  justify-content: flex-start;
  display: flex;
}
.colList {
  display: flex;
  flex: 1;
  padding: 0 1vh;
  min-width: 26rem;
  flex-basis: 26rem;
  max-width: 35rem;
  @media (--viewportMedium) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.listingCard {
  flex-basis: 100%;
}
